h1{
    color: brown;
    font-size: 10px;
}

p{
    color: blueviolet;
    font-size: 13px;
}
div{
    width: 120px;
    height: 120px;
    background-color: aqua;
    margin-bottom: 5px;
}
div p{
    color: black;
}
.text-bk{
    color: red;
    text-align: center;
    background-color: rgb(33, 216, 64);
    margin: 5px;

}
.first-div{
    background-color: rgb(49, 15, 243);
}

.first-div p{
    color: rgb(235, 235, 235);
}
#big-div,#big-div-2{
    width: 400px;
}